/*
 Represents all the fonts and styles for My Cloud Calendar
 Tristan Hilbert
 12/2/2018
 */

$text-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$header-font: Arial, Helvetica, san-serif; 
$mono: 'Courier New', Courier, monospace;
$main-color: #230523;
$header-color: #FFFFFF;
$off-text-color:  #e47637;
$off-text-color1: #a6b9db;
$off-text-color1-highlight: #b6c9eb;
$border-color: #5f2a5f;


$gridbox-color: unquote('#d87cd033');
$gridbox-color-on: unquote('#d87dd099');

$background-color: #d8c4f0;
$background-color1: #440a44;
$background-color2: #5f2a5f;