/*
 Tristan Hilbert
 12/2/2018
 Style Sheet for Main Calendar App
*/

/* Compiled at server StartUp. Should not be public files! */
@import "theme";
@import "partials/calendar-events";
@import "partials/cycle-buttons";


/* Aside */

/* App Container and Unordered lists*/

.container{
    @extend %main_container;
    padding: 0px;
    display: flex;
    align-items: initial;
    justify-content: center;
}


.button_housing{
    @extend %flex_box;
    justify-content: center;
    padding: 15px;
}

.app{
    width: 100%;
}
/* Day Lists Bar */
.uilist{
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* Day Lists Bar End */

.slot{
    min-width: 21px;
    max-width: 160px;
    height: 33.4px;
}

.initial-slot{
    min-width: 80px;
    max-width: 100px;
}

.list-day{
    @extend %flex_box;
    max-width: 320px;
}

.list-day-block{
    width: 100%;
}

/* Collumns */
.columns{
    display: flex;
}

.col{
    display: inline-flex;
    height: 36px * 24;

    border: solid $border-color;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 6px 6px;
    margin: 0px 0px;
}

.day-column{
    display: flex;
    flex-flow: row wrap;
}

.grid-box{
    @extend %flex_box;
    font-family: $text-font;
    font-size: $text-size;

    width: 100%;
    background-color: $gridbox-color;

    border: 1px solid $border-color;
    border-radius: 6px 6px;
    margin: 0px 0px;
}

.grid-box:hover{
    background-color:$gridbox-color-on;
    cursor: pointer;
}
/* Collumns End */

/* Times */
.times-container{
    display: inline-flex;
    
}

.tiny{
    flex-shrink: 2;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    white-space: nowrap;
}

.tiny li{
    padding: 2.5px 0px;
    margin: 0px 5px 10px 5px;
}

.time-text{
    display: inline-block;
    font-size: 16px;
    color: $off-text-color;
}

.AM::after{
    content: "AM";
}

.PM::after{
    content: "PM";
}

/* Times End */



