/*
 * Tristan Hilbert
 * 11/6/18
 * Style Sheet for index.html
 *
 */

/* Environment Variables And good old Sass Stuff. */
@import 'theme';


/* End of Environment Variables */

/* Header */
.bar{
    @extend %flex_box;
    min-width: 900px;
    height: 120px;
    border-radius: 10px;
}

.header{
    background-color: $background-color1;
    min-width: 940px;
    height: 120px;
}

h1{
    font-family: $text-font;
    font-size: 72px;
    color: $header-color;
}

/* Header End */

/* Months List Bar */
/* Main */
main{
    min-width: 940px;
    background-color: $background-color;
}
/* Month Lists Bar */
.month-container{
    background-color: $background-color2;
    height: 60px;
    
}

.uilist{
    list-style-type: none;
    display: inline-block;
}

.list-month{
    display: inline-block;
    margin: 0px 20px;
}

.month{
    font-family: $text-font;
    color: $off-text-color;
    font-size: 16px;
}

.month:hover{
    color: $text-font;
    cursor: pointer;
    font-weight: bold;
}


/* End Month List Bar */

/* Footer */

.authors{
    margin: 0px 10px;
    font-family: fantasy;
    color: $main-color;
    font-size: 16px;
    font-weight: 5;
}

html{
    color: $main-color;
    background-color: $background-color;
}

footer::before{
    color: $main-color;
    content: "\A9  "; /* Copyright Symbol */
}

/* Footer End */

