/*
 Modal Modular Stylesheet
 Tristan Hilbert
 12/2/2018

*/

@import "theme";

%bounding-box{
    border: 1px solid $border-color;
    border-radius: 1px 1px;
}

#modal-backdrop{
    @extend %bounding-box;
    background-color: $background-color2;
}


.addButton{
    @extend %flex_box;
    position: fixed;
    right: 2 * $text-size;
    bottom: 2 * $text-size;
    border: none;
    font-size: 4 * $text-size;
    width: 4 * $text-size + 2;
    color: $off-text-color1;
    background-color: $background-color3;
    border-radius: 15px;
}

.addButton:hover{
    font-size: 4.25 * $text-size;
    width: 4.25 * $text-size + 2.5;
    color: $off-text-color1-highlight;
}

#modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
}

#addModal{
    color: #fff;
    justify-self: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1010;
}