<!DOCTYPE html>

<!-- My Calendar Base HTML -->
<html>
    <head>
        <!-- Scripts | Stylesheets | Metacode-->
        <link rel="stylesheet" href="/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js" defer></script>
        <script src="/index.js" defer></script>

    </head>

    <header>
        <!--Title for the site-->
        <div class="bar header">
            <h1>My Cloud Calendar</h1>
        </div>
    </header>
    <main>
        <!-- APP -->

        <!-- Month List -->
        <div class="bar month-container">
            <ul class="uilist" id="monthlist">
                <!-- Links To Each Month -->
                <li class="list-month"><a class="month" href='/0/0/2019'>Jan</a></li>
                <li class="list-month"><a class="month" href='/1/0/2019'>Feb</a></li>
                <li class="list-month"><a class="month" href='/2/0/2019'>Mar</a></li>
                <li class="list-month"><a class="month" href='/3/0/2019'>Apr</a></li>
                <li class="list-month"><a class="month" href='/4/0/2019'>May</a></li>
                <li class="list-month"><a class="month" href='/5/0/2019'>Jun</a></li>
                <li class="list-month"><a class="month" href='/6/0/2019'>Jul</a></li>
                <li class="list-month"><a class="month" href='/7/0/2019'>Aug</a></li>
                <li class="list-month"><a class="month" href='/8/0/2019'>Sep</a></li>
                <li class="list-month"><a class="month" href='/9/0/2019'>Oct</a></li>
                <li class="list-month"><a class="month" href='/10/0/2018'>Nov</a></li>
                <li class="list-month"><a class="month" href='/11/0/2018'>Dec</a></li>
            </ul>
        </div>
    </main>
    
    {{{body}}}

    <!-- Credits -->
    <footer>
        <span class="authors">Alexander Guyer</span>
        <span class="authors">Tyler Titsworth</span>
        <span class="authors">Ryan Kennedy</span>
        <span class="authors">Tristan Hilbert</span>
    </footer>

</html>