<!-- Events Page html template -->
<link href="/util-styles.css" rel="stylesheet">
<link href="/compiled/util-styles.css" rel="stylesheet">

<!-- Case for if there are no events on this date-->
{{#unless event}}
    <div class="single-headline-container">
        <h1 class="single-headline">No Event :'(</h1>
    </div>
{{/unless}}

<!-- If there are events print each of them -->
{{#if event}}
    <!-- Event Styles -->
    <link href="/event-styles.css" rel="stylesheet">
    <link href="/compiled/event-styles.css" rel="stylesheet">

    <!-- prints events -->
    <div class="full-container">
        {{#each event}}
            {{> single_event}}
        {{/each}}
    </div>
{{/if}}

